fastapi
jupyter
matplotlib
numpy
python-dotenv
uvicorn
tokenizers==0.14.1
requests==2.31.0
datasets==2.14.6
tqdm==4.66.1
transformers==4.35.1
setuptools==68.2.2
diffusers==0.23
pillow==10.1.0
accelerate
qdrant-client
streamlit