fastapi
jupyter
matplotlib
numpy
python-dotenv
uvicorn
tokenizers~=0.14.1
requests~=2.32.0
datasets~=2.14.6
tqdm~=4.66.3
transformers~=4.47.0
setuptools~=70.0.0
diffusers~=0.23
pillow~=10.3.0
accelerate
qdrant-client
streamlit~=1.37.0
umap-learn[plot]